body, table, select, input
{
padding: 0;
margin: 0;
border: 0;

font-size: 24pt;
text-align: center;
}

.header
{
height: 128px;
width: 512px;
padding-top: 22px;
letter-spacing: 0pt;
float: left;
overflow: hidden;
box-sizing:border-box;
}

.locked
{
color: #333;
background-color: #000;
border: 20px solid #222;
}

.unlocked
{
color: rgb(255, 255, 255);
background-color: rgb(0,50,20);
border: 20px solid rgb(0,50,20);
}

.beaten
{
color: rgb(255, 255, 255);
background-color: rgb(0,0,0);
border: 20px solid rgb(0,150,0);
}