
html
{
  -webkit-user-select: none;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.8);
  color: #ffffff;
}

.slides_wrapper
{
  height:100%;
  width:100%;
  display:table;
  vertical-align:middle;
}

.container
{
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -240px;
  position: fixed;
}

img
{
  border: 10px solid #BB1100;
  -webkit-user-select: none;
  width: 640px;
  height: 480px;
}