

body {
  background-color: rgba(25, 25, 25, 0.5);
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: hidden;
}

  html { height: 100%; }
      body { background: #000; height: 100%; width: 100%; display: table;}
      div {
        display: table-row;
        width: 100%;
        height: 100%;
      }
      #digipen_splash {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }

      img {
        width: 75%;
      }

      @-webkit-keyframes fadein {
        0% {
          opacity: 0.0;
          -webkit-transform: scale(1.0,1.0);
        }
        65% {
          opacity: 1.0;
          -webkit-transform: scale(1.5,1.5);
        }
        100% {
          opacity: 0.0;
          -webkit-transform: scale(1.5,1.5);
        }
      }