
.level {
	position:relative;
	float:left;
	width:290px;
	height:460px;
	margin:20px;
	padding:10px;
	background:#666;
	color:#eee;
	border:1px solid #f90;
	box-shadow:5px 5px 10px #000;
	overflow:hidden;
  font-size: 14px;
}

.levelFrame {
	z-index:10;
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	background:#eee;
	top:0;
	left:0;
}

.thumbnail {
	width:284px;
	margin:10px 0;
	border:3px outset #f90;
}

.description{
  margin: 6px;
	background:#777;
	height:86px;
	padding:2px 4px;
	overflow:hidden;
}

.stats {
	margin:0;
}

.stats td {
  background-color: #666;
  border: none;
  padding:2px;
}

.date {
  position:absolute;
  float:left;
  bottom: 2px;
}

.show_comments {
  position: absolute; 
	bottom: -1px; 
  right: 16px;
  z-index:20;
  padding: 4px;
}

#levels_wrapper {
	width:99%;
  overflow-x:scroll;
}


#dark_overlay {
background-color: #000000;
opacity: .9;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index:30;
}

.comment_wrapper {
border: 1px solid #f90;
background-color: #0044bb;
margin: 20px;
padding: 5px 10px;
overflow-x: hidden;
text-shadow: 1px 1px #000;
}

.comment_back {
color: #0077BB;
font-size: 16px;
}

.comment_back:hover {
  color: #ffffff;
}

.comment_rating {
  position:relative;
  left: 500px;
  top: -15px;
}

.comment {
  overflow:hidden;
}

.report {
  vertical-align: -3px;
  z-index: 20;
  position: relative;
  left: 5px;
}

.ucl_header {
  float: left;
  color: #fff;
  margin-left: 20px;
}

#loading_dialog{
width: 300px;
height: 40px;
margin-left: -150px;
margin-top: -20px; 
}

#comments_dialog_outer {
  width: 800px;
  height: 400px;
  margin-left: -400px;
  margin-top: -200px;
}

#error_dialog {
width: 300px;
height: 120px;
margin-left: -150px;
margin-top: -60px;
}

#comments_dialog_inner {
overflow-y: scroll;
height:92%;
}

.dialog {
width: 300px;
height: 160px;
margin-left: -150px;
margin-top: -80px;
position: absolute;
top: 50%;
left: 50%;
background-color: #000;
z-index: 31;
border: 1px solid #f90;
box-shadow: 5px 5px 10px #000;
padding:20px;
color:#fff;
}

#level_card_container {
width: 100%;
text-shadow: 1px 1px #000;
}

#levels {
  float: left;
}

#show_more {
  position:relative;
	float:left;
	width:50px;
	height:460px;
	margin:20px;
	padding:10px;
	background:#666;
	color:#eee;
	border:1px solid #f90;
	box-shadow:5px 5px 10px #000;
	overflow:hidden;
  font-size: 14px;
  text-align:center;
  line-height:  460px;
}

.beginner {
  color:#0be;
}

.advanced {
  color:#f90;
}

.expert {
  color:#f00;
}